@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Source Sans 3", sans-serif;
}

body {
  overflow-x: hidden;
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
